$unit: $unit/2

.icon-field
    padding: 0 $border-radius
    border: 0

    display: flex
    height: 2*$unit
    align-items: center
    border-radius: $border-radius
    margin-bottom: $unit

    svg
        margin-right: $unit/2

.icon-field--gmail
    background-color: #EA4335

.icon-field--facebook
    background-color: #45619D

.icon-field--social
    width: 100%
    color: var(--background-primary)
    cursor: pointer


.icon-field--important
    color: var(--background-primary)
    background: var(--interactive-accent)
    cursor: pointer
    width: auto
    margin-bottom: 0

    path
        fill: var(--background-primary)

$unit: $unit*2

