@import "config"

.item
    background: var(--background-primary)
    display: flex
    border-radius: $border-radius
    @include box-shadow

.item__image
    height: 5 * $unit + 4 * $font-size
    img
        height: 100%
        border-radius: $border-radius
        margin-top: $unit
        margin-left: $unit

.item__info
    display: grid
    padding: $unit
    width: 100%
    color: black

.item__info__text
    display: flex
    align-items: flex-start

.item__info__text__description

    p
        padding-bottom: $unit/2
        font-weight: bold

    .price
        color: var(--interactive-accent)

    .street
        color: gray
        font-weight: normal

.item__info__text__estate-type
    box-sizing: border-box
    border-radius: $border-radius
    margin-left: $unit*3
    border: 1px solid var(--interactive-accent)
    padding: $font-size/2 $unit/2
    color: var(--interactive-accent)

.item__info__icons
    display: flex
    gap: 2 * $unit

.item__info__icons__basic
    display: flex
    gap: 2 * $unit
    padding-top: $unit/2
    border-top: 1px
    border-style: solid
    border-color: gray //!!change with text muted

    .icon-text
        display: flex
        gap: $unit
        height: $font-size
        align-items: center

        &:nth-child(2)
            margin-left: auto

.item__info__icons__save
    margin-left: auto
    cursor: pointer

    svg
        height: $unit/2 + $font-size

        path
            stroke: var(--text-normal)

.item__info__icons__save:hover
    svg path
        fill: var(--interactive-accent)
        opacity: 80%

.item__info__icons__save--is-saved
    svg path
        stroke: var(--interactive-accent)
        fill: var(--interactive-accent)
