.nav-bar
    height: 2 * $unit
    display: flex
    align-items: center
    background: var(--background-primary)
    @include box-shadow

    &-list
        list-style-type: none
        display: flex
        align-items: baseline
        column-gap: $unit

        li
            &.right
                margin-left: auto

            &.sign-up
                border-radius: $border-radius
                height: 100%
                @include button-padding
                background: var(--interactive-accent)
                color: var(--background-primary)
