*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  color: inherit;
}

input {
  border: 0;
  background: none;
  font: inherit;
  padding: 0;
  color: inherit;
}

input:focus {
  outline: 0;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

:root {
  --background-primary: #ffffff;
  --background-primary-alt: #f5f6f8;
  --background-secondary: #f2f3f5;
  --background-secondary-alt: #e3e5e8;
  --interactive-accent: #086788;
  --text-normal: #000000;
  --text-faint: #6B6B6B;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  background: var(--background-secondary);
  height: 100vh;
}

h2 {
  font-weight: 800;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.responsive-container {
  max-width: 90vw;
  margin: 0 auto;
  width: 1600px;
}

.page-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container .content-container {
  padding: 40px 0;
}

.page-container .content-container .content {
  height: 100%;
  width: 100%;
}

.content__box {
  -webkit-box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 8.41902px 33.4221px rgba(0, 0, 0, 0.0489855), 0 5.61451px 17.869px rgba(0, 0, 0, 0.0398771), 0 3.9734px 10.0172px rgba(0, 0, 0, 0.0326699), 0 2.62596px 5.32008px rgba(0, 0, 0, 0.0252576), 0 1.33023px 2.21381px rgba(0, 0, 0, 0.015792);
          box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 8.41902px 33.4221px rgba(0, 0, 0, 0.0489855), 0 5.61451px 17.869px rgba(0, 0, 0, 0.0398771), 0 3.9734px 10.0172px rgba(0, 0, 0, 0.0326699), 0 2.62596px 5.32008px rgba(0, 0, 0, 0.0252576), 0 1.33023px 2.21381px rgba(0, 0, 0, 0.015792);
  padding: 40px;
  background: var(--background-primary);
  border-radius: 20px;
}

.site-nav {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--background-primary);
  -webkit-box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 8.41902px 33.4221px rgba(0, 0, 0, 0.0489855), 0 5.61451px 17.869px rgba(0, 0, 0, 0.0398771), 0 3.9734px 10.0172px rgba(0, 0, 0, 0.0326699), 0 2.62596px 5.32008px rgba(0, 0, 0, 0.0252576), 0 1.33023px 2.21381px rgba(0, 0, 0, 0.015792);
          box-shadow: 0 18px 80px rgba(0, 0, 0, 0.07), 0 8.41902px 33.4221px rgba(0, 0, 0, 0.0489855), 0 5.61451px 17.869px rgba(0, 0, 0, 0.0398771), 0 3.9734px 10.0172px rgba(0, 0, 0, 0.0326699), 0 2.62596px 5.32008px rgba(0, 0, 0, 0.0252576), 0 1.33023px 2.21381px rgba(0, 0, 0, 0.015792);
}

.site-nav-container {
  width: 100%;
}

.site-nav-container #hamburger-icon {
  display: none;
  height: 40px;
  cursor: pointer;
}

.site-nav-container #hamburger-icon path {
  stroke: var(--text-normal);
}

.site-nav-container-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.site-nav-container-list li.right {
  margin-left: auto;
}

.site-nav-container-list li.sign-up {
  border-radius: 20px;
  height: 100%;
  padding: 12px 20px;
  background: var(--interactive-accent);
  color: var(--background-primary);
}

@media (max-width: 959px) {
  .content-container {
    margin-top: 80px;
  }
  .site-nav {
    position: fixed;
  }
  .site-nav .site-nav-container #hamburger-icon {
    display: block;
  }
  .site-nav .site-nav-container-list {
    display: none;
    background: var(--background-primary-alt);
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    inset: 0;
    top: 80px;
  }
  .site-nav .site-nav-container-list.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav .site-nav-container-list li {
    margin-top: 40px;
  }
  .site-nav .site-nav-container-list li.right {
    margin-left: 0;
  }
  .site-nav .site-nav-container-list li.sign-up {
    width: 100%;
    height: auto;
    border-radius: 0;
    text-align: center;
  }
}
/*# sourceMappingURL=page.css.map */