@import "../../shared/styles/config"
@import "../../shared/styles/mixins"
$unit: $unit /2

.content__box--login
    padding: $unit * 2
    max-width: 600px

.content__box

    &__form
        .input-box
            background: var(--background-secondary)

            input
                color: var(--text-normal)

                &:-webkit-autofill
                    -webkit-text-fill-color: var(--text-normal)

            path
                fill: gray

            &:focus-within
                background: var(--interactive-accent)

                input
                    color: var(--background-primary)

                    &:-webkit-autofill
                        -webkit-text-fill-color: var(--background-primary)

                    &::placeholder
                        color: var(--background-secondary)

                path
                    fill: var(--background-primary)

.hlink
    color: var(--interactive-accent)

.term-and-cond
    display: flex
    margin-bottom: $unit
    svg
        margin-right: $unit/2

.term-and-cond__paragraph
    line-height: 1.5
