.hlink {
  color: var(--interactive-accent);
}

.term-and-cond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.term-and-cond svg {
  margin-right: 10px;
}
