@import "config"
@import "mixins"

$unit: $unit/2

.filter-container
    display: inline-block

.filter-alignment
    display: grid
    gap: $unit
    justify-items: start
    grid-template-columns: auto auto

    > .icon-field:last-child
        grid-column: span 2

    .filter-option--submit
        grid-column: span 2
        width: 100%

.icon-field--important[type="search"]
    width: 100%
