@import "config"
@import "mixins"
.content
    display: flex
    align-items: flex-start
    gap: $unit

    &__left
        .carousel
            height: 600px

        .description
            height: 600px

        .map
            height: 600px

    &__right
        position: sticky
        top: $unit

.content__box--profile
    display: grid
    grid-template-rows: auto auto
    grid-template-columns: auto auto
    column-gap: $unit/2

    &__avatar
        height: 100%
        width: 100%
        background-size: cover
        background-position: center
        background-repeat: no-repeat

        grid-row: span 3
        height: $unit*3
        width: $unit*3
        border-radius: $border-radius
        @include transition(transform)
    .secondary
        margin-bottom: 0

    .label--important
        grid-column: span 2
        margin-top: $unit/2

        // span
        //     animation: phone-animation 1.4s infinite ease-in-out

.content__box--property

    &__facilities
        display: flex
        align-items: baseline
        gap: $unit
        margin-bottom: $unit/4

        p
            margin-bottom: 0
            position: relative

            &::before
                $point-size: 4px
                content: ' '
                position: absolute
                border-radius: 100%
                height: $point-size
                width: $point-size
                background: var(--text-normal)
                top: 50%
                transform: translateY(-50%)
                left: - ($unit + $point-size) / 2

            &:first-child

                &::after
                    content: '2'
                    vertical-align: super
                    font-size: smaller

                &::before
                    content: none

// @keyframes phone-animation
//     0%
//         transform: rotate(0)

//     10%
//         transform: rotate(-25deg)

//     20%
//         transform: rotate(25deg)

//     30%
//         transform: rotate(-25deg)

//     40%
//         transform: rotate(25deg)

//     50%
//         transform: rotate(0)

//     100%
//         transform: rotate(0)
