@import "config"

$unit: $unit/2

.content__box

    &__form
        .double-input-row
            display: flex
            gap: 10px
        .input-box
            background: var(--background-secondary)

            input
                width: 100%
                color: var(--text-normal)

                &:-webkit-autofill
                    -webkit-text-fill-color: var(--text-normal)

            .icon
                color: gray

            &:focus-within
                background: var(--interactive-accent)

                input
                    color: var(--background-primary)

                    &:-webkit-autofill
                        -webkit-text-fill-color: var(--background-primary)

                    &::placeholder
                        color: var(--background-secondary)

                .icon
                    color: var(--background-primary)

.content__box--form
    padding: $unit * 2
    max-width: 600px
    margin-bottom: 0

    .label
        margin-bottom: $unit

    .label--error
        margin-bottom: 0
        border-color: red
        .icon
            color: red

.error
    color: red

.background-image
    position: fixed
    z-index: -1
    background-image: url('/images/building.png')
    background-repeat: no-repeat
    inset: 0
    background-position: right
    background-attachment: fixed
