@import "../../shared/styles/icon"
@import "../../shared/styles/item"
@import "../../shared/styles/footer"

@import "../../shared/styles/config"
@import "../../shared/styles/mixins"

$unit: $unit/2

.content__filter
    display: flex
    img
        margin-left: $unit

.content__box--filter
    h2
        margin-bottom: $unit

.filter-grid
    display: grid
    justify-items: start

    .icon-field:last-child
        grid-column: span 2

.icon-field--filter
    border: 2px solid black

    svg
        margin-left: $unit/2
        margin-right: 0

.icon-field--filter:hover
    border-color: var(--interactive-accent)
    cursor: pointer
    color: var(--interactive-accent)
    path
        fill: var(--interactive-accent)

.search
    color: var(--background-primary)
    background: var(--interactive-accent)
    cursor: pointer
    width: 100%

    path
        fill: var(--background-primary)
