@import "../../shared/styles/config"
@import "../../shared/styles/mixins"
@import "../../shared/styles/icon"
$unit: $unit/2
@import "../../shared/styles/item"
@import "../../shared/styles/footer"

.content__filter
    display: flex
    img
        margin-left: $unit

.content__box--filter
    padding: $unit*2
    margin-left: $unit*2
    max-width: 380px
    h2
        margin-bottom: $unit

.filter-grid
    display: grid
    justify-items: start

    .icon-field:last-child
        grid-column: span 2

.icon-field--filter
    border: 2px solid black

    svg
        margin-left: $unit/2
        margin-right: 0

.icon-field--filter:hover
    border-color: var(--interactive-accent)
    cursor: pointer
    color: var(--interactive-accent)
    path
        fill: var(--interactive-accent)

.search
    color: var(--background-primary)
    background: var(--interactive-accent)
    cursor: pointer
    width: 100%

    path
        fill: var(--background-primary)

.item--chubby
    flex-direction: column

.item--chubby__image
    height: 5 * $unit + 4 * $font-size
    img
        height: 100%
        width: 100%
        border-radius: $border-radius $border-radius 0 0

.content__grid
    padding: $unit
    background: var(--background-primary)
    margin: $unit 0
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr))
    grid-gap: $unit
