@import "../../shared/styles/config"
@import "../../shared/styles/mixins"
@import "../../shared/styles/item"

$unit: $unit/2

.splited
    display: flex
    gap: $unit
    height: 100%

.side-map
    border-radius: $border-radius
    background: red