.content__box--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.content__box--item__image {
  height: 160px;
}

.content__box--item__image img {
  margin-left: 20px;
  margin-top: 20px;
  height: 100%;
  border-radius: 20px;
}

.content__box--item__info {
  width: 100%;
  padding: 20px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__box--item__info h2, .content__box--item__info .secondary {
  margin-bottom: 5px;
}

.content__box--item__info__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.content__box--item__info__icons__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 40px;
  border-top: 1px solid var(--background-secondary-alt);
}

.content__box--item__info__icons__basic .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__box--item__info__icons__basic .icon-text svg {
  height: 24px;
}

.content__box--item__info__icons__basic .icon-text:nth-child(2) {
  margin-left: auto;
}

.content__box--item__info__icons .save-button {
  cursor: pointer;
  height: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.content__box--item__info__icons .save-button svg {
  height: 100%;
}

.content__box--item__info__icons .save-button svg path {
  stroke: var(--text-normal);
}

.content__box--item__info__icons .save-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content__box--item__info__icons .save-button--is-saved path {
  stroke: var(--text-normal);
  fill: var(--interactive-accent);
}

.items-container {
  background: var(--background-primary);
}

.chubby-items {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  width: 100%;
}

.chubby-items .content__box--item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.chubby-items .content__box--item__image {
  height: 140px;
}

.chubby-items .content__box--item__image img {
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.chubby-items .content__box--item__info__icons__basic .icon-text {
  gap: 10px;
}

.chubby-items .content__box--item__info__icons__basic .icon-text:nth-child(2), .chubby-items .content__box--item__info__icons__basic .icon-text:nth-child(3) {
  display: none;
}

.chubby-items .content__box--item__info__icons__basic .icon-text:last-child {
  margin-left: auto;
}

.icon-field {
  padding: 0 20px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.icon-field svg {
  margin-right: 10px;
}

.icon-field--gmail {
  background-color: #EA4335;
}

.icon-field--facebook {
  background-color: #45619D;
}

.icon-field--social {
  width: 100%;
  color: var(--background-primary);
  cursor: pointer;
}

.icon-field--social path {
  fill: white;
}

.icon-field--important {
  color: var(--background-primary);
  background: var(--interactive-accent);
  cursor: pointer;
  width: auto;
  margin-bottom: 0;
}

.icon-field--important path {
  fill: var(--background-primary);
}

.splited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  height: 100%;
}

.side-map {
  border-radius: 20px;
  background: red;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  height: 500px;
  width: 600px;
}

.content-filter {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.icon-field--filter {
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 0;
  border: 2px solid var(--background-primary);
  background: var(--background-primary);
}

.icon-field--filter:hover {
  border-color: var(--interactive-accent);
  cursor: pointer;
  color: var(--interactive-accent);
}

.icon-field--filter:hover path {
  fill: var(--interactive-accent);
}
