@import "../../shared/styles/_sass-variables"

.splited
    display: flex
    gap: $unit

    height: 100%

    > *
        flex: 1

    .search
        background: green

        .item
            $unit: $unit/2

            background: white
            display: flex
            border-radius: $border-radius
            height: 177px //!! change this hard coded value

            .image
                height: 100%
                img
                    height: 100%
                    border-radius: $border-radius
                    margin-top: $unit
                    margin-left: $unit

            .info
                display: grid
                padding: $unit
                color: black

                .info-text
                    display: flex
                    align-items: flex-start
                    .description

                        p
                            padding-bottom: $unit/2

                        .street
                            color: gray

                .estate-type
                    box-sizing: border-box
                    border-radius: $border-radius
                    border: 1px solid var(--interactive-accent)
                    padding: $font-size/2 $unit/2

                    color: var(--interactive-accent)

                .icons
                    display: flex

                    .static-icons
                        display: flex
                        gap: $unit
                        padding-top: $unit/2
                        border-top: 1px
                        border-style: solid
                        border-color: gray //!!change with text muted

                        .icon-text
                            display: flex
                            gap: $unit/2
                            height: $font-size

                            img
                                height: 100%

                            &:nth-child(2)
                                margin-left: auto

                    .save
                        margin-left: auto

                        svg
                            height: $unit/2 + $font-size

                            path
                                stroke: black //!!change with text color

                    .save.was-saved

                        svg path
                            stroke: var(--interactive-accent)
                            fill: var(--interactive-accent)

    .map
        border-radius: $border-radius
        background: red
