.splited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  height: 100%;
}

.splited > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.splited .search .item {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  height: 164px;
  -webkit-box-shadow: 0px 18px 80px rgba(0, 0, 0, 0.07), 0px 8.41902px 33.4221px rgba(0, 0, 0, 0.0489855), 0px 5.61451px 17.869px rgba(0, 0, 0, 0.0398771), 0px 3.9734px 10.0172px rgba(0, 0, 0, 0.0326699), 0px 2.62596px 5.32008px rgba(0, 0, 0, 0.0252576), 0px 1.33023px 2.21381px rgba(0, 0, 0, 0.015792);
          box-shadow: 0px 18px 80px rgba(0, 0, 0, 0.07), 0px 8.41902px 33.4221px rgba(0, 0, 0, 0.0489855), 0px 5.61451px 17.869px rgba(0, 0, 0, 0.0398771), 0px 3.9734px 10.0172px rgba(0, 0, 0, 0.0326699), 0px 2.62596px 5.32008px rgba(0, 0, 0, 0.0252576), 0px 1.33023px 2.21381px rgba(0, 0, 0, 0.015792);
}

.splited .search .item .image {
  height: 100%;
}

.splited .search .item .image img {
  height: 100%;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.splited .search .item .info {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  width: 100%;
  color: black;
}

.splited .search .item .info .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.splited .search .item .info .info-text .description p {
  padding-bottom: 10px;
}

.splited .search .item .info .info-text .description .street {
  color: gray;
}

.splited .search .item .info .estate-type {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid var(--interactive-accent);
  padding: 8px 10px;
  color: var(--interactive-accent);
}

.splited .search .item .info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.splited .search .item .info .icons .static-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-top: 10px;
  border-top: 1px;
  border-style: solid;
  border-color: gray;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.splited .search .item .info .icons .static-icons .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 16px;
}

.splited .search .item .info .icons .static-icons .icon-text img {
  height: 100%;
}

.splited .search .item .info .icons .static-icons .icon-text:nth-child(2) {
  margin-left: auto;
}

.splited .search .item .info .icons .save {
  margin-left: auto;
}

.splited .search .item .info .icons .save svg {
  height: 26px;
}

.splited .search .item .info .icons .save svg path {
  stroke: black;
}

.splited .search .item .info .icons .save.was-saved svg path {
  stroke: var(--interactive-accent);
  fill: var(--interactive-accent);
}

.splited .map {
  border-radius: 20px;
  background: red;
}
