.content-filter {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.icon-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.icon-field--gmail {
  background-color: #EA4335;
}

.icon-field--facebook {
  background-color: #45619D;
}

.icon-field--social {
  width: 100%;
  color: var(--background-primary);
}

.icon-field--social path {
  fill: white;
}

.label {
  background: var(--background-primary);
  border: 2px solid var(--text-normal);
  border-radius: 20px;
  padding: 5px 20px;
}

.label--bordered {
  border-color: var(--interactive-accent);
  color: var(--interactive-accent);
}

.label--bordered path {
  fill: var(--interactive-accent);
}

.label--important {
  color: var(--background-primary);
  background: var(--interactive-accent);
}

.label--important path {
  fill: var(--background-primary);
}

.filter-option {
  position: relative;
  z-index: 4;
}

.filter-option > ul {
  padding: 10px 0;
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: hidden;
  z-index: 3;
}

.filter-option > ul > li {
  padding: 10px 20px;
}

.filter-option > ul > li:hover {
  background: var(--background-primary-alt);
}

.filter-option.show > ul {
  display: block;
}

.filter-option--dropdown.show > .label > svg {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
