@import "../../shared/styles/icon"
@import "../../shared/styles/config"
@import "../../shared/styles/mixins"

$unit: $unit /2

.hlink
    color: var(--interactive-accent)

.term-and-cond
    display: flex
    margin-bottom: $unit
    svg
        margin-right: $unit/2
