@import "../../shared/styles/config"
@import "../../shared/styles/mixins"

.content
    display: flex
    align-items: flex-start
    gap: $unit

    &__left
        .carousel
            &__top
                position: relative
                margin-bottom: $unit/2

                img
                    display: block
                    margin: 0 auto
                    height: 500px
                    border-radius: $border-radius

                &__arrow
                    position: absolute
                    border-radius: 100%
                    width: $unit
                    height: $unit
                    background: var(--background-primary)
                    @include box-shadow
                    top: 50%
                    left: 0
                    transform: translateY(-100%)
                    margin: auto

                    svg
                        height: 100%

                    &--right
                        transform: translateY(-100%) scaleX(-1)
                        right: 0
                        left: auto

            &__bottom
                position: relative
                display: flex
                height: 50px
                gap: $unit/2
                overflow-x: hidden

                img
                    border-radius: $border-radius/4

        .description
            pre
                white-space: pre-wrap

        .map
            height: 600px
            background-image: url("../../shared/img/map.png")
            background-size: cover
            background-position: center
            background-repeat: no-repeat

    &__right
        position: sticky
        top: $unit

.content__box--profile
    display: grid
    grid-template-rows: 1fr auto auto auto
    grid-template-columns: auto auto
    column-gap: $unit/2

    &__img
        background: black //!! remove in production
        grid-row: span 3
        height: $unit*3
        width: $unit*3
        border-radius: $border-radius

    .secondary
        margin-bottom: 0

    .icon-field--important
        grid-column: span 2
        margin-top: $unit/2

        svg
            animation: phone-animation 1.4s infinite ease-in-out

.content__box--property

    &__facilities
        display: flex
        align-items: baseline
        gap: $unit
        margin-bottom: $unit/4

        p
            margin-bottom: 0
            position: relative

            &::before
                $point-size: 4px
                content: ' '
                position: absolute
                border-radius: 100%
                height: $point-size
                width: $point-size
                background: var(--text-normal)
                top: 50%
                transform: translateY(-50%)
                left: - ($unit + $point-size) / 2

            &:first-child

                &::after
                    content: '2'
                    vertical-align: super
                    font-size: smaller

                &::before
                    content: none

@keyframes phone-animation
    0%
        transform: rotate(0)

    10%
        transform: rotate(-25deg)

    20%
        transform: rotate(25deg)

    30%
        transform: rotate(-25deg)

    40%
        transform: rotate(25deg)

    50%
        transform: rotate(0)

    100%
        transform: rotate(0)
